<div class="page-header">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Stories
  <% end %>
  <% if current_user %>
    <%= link_to  "Edit", edit_story_path(@story), class: "btn btn-primary" %>
  <% end %>

  <h1><%= @story.title %></h1>
  <p><em>Written by <%= @story.user.name %></em></p>
</div>

<p><%= markdown(@story.body) %></p>

<p><em>Tags:<%= @story.tags %></em></p>


