<div class="page-header">
  
  <p><%= link_to stories_path, class: 'btn-sm btn-default' do %>
    <span class="glyphicon glyphicon-list-alt">All Stories</span>
  <% end %></p>
</div>

<div class="story jumbotron">
 
  <% if can? :update, @story %>
    <%= link_to "Edit", edit_story_path(@story), class: "btn btn-primary float-right" %>
  <% end %>

	<% if @story.published? %>
	  <span class="btn btn-info">Published</span>
	<% else %>
	  <span class="btn-lg btn-secondary">Draft</span>
	<% end %>

	<h1><%= @story.title %></h1>
	<p><em>Written by <%= @story.user.name %></em></p>

	<p><%= markdown(@story.body) %></p>

	<p><em>Tags:<%= @story.tags %></em></p>
</div>